<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<div class="container">
  <div class="title">NEW DPI</div>
  <div class="form-row">
      <div class="form-label"><i class="fa fa-user"></i>Full Name:</div>
      <div class="form-input">
          <input type="text" placeholder="Enter full name">
      </div>
      <div class="form-label"><i class="fa fa-lock"></i>Username:</div>
      <div class="form-input">
          <input type="text" placeholder="Enter username">
      </div>
  </div>

  <div class="form-row">
      <div class="form-label"><i class="fa fa-hashtag"></i>SSN:</div>
      <div class="form-input">
          <input type="text" placeholder="Enter SSN">
      </div>
      <div class="form-label"><i class="fa fa-key"></i>Password:</div>
      <div class="form-input">
          <input type="password" placeholder="Enter password">
      </div>
  </div>

  <div class="form-row">
      <div class="form-label"><i class="fa fa-calendar"></i>Birth Date:</div>
      <div class="form-input">
          <input type="date">
      </div>
  </div>

  <div class="form-row">
      <div class="form-label"><i class="fa fa-phone"></i>Phone Number:</div>
      <div class="form-input">
          <input type="text" placeholder="Enter phone number">
      </div>
  </div>

  <div class="form-row">
      <div class="form-label"><i class="fa fa-map-marker"></i>Address:</div>
      <div class="form-input">
          <input type="text" placeholder="Enter address">
      </div>
  </div>

  <div class="form-row">
      <div class="form-label"><i class="fa fa-envelope"></i>Address Mail:</div>
      <div class="form-input">
          <input type="text" placeholder="Enter email address">
      </div>
  </div>

  <div class="form-row">
      <div class="form-label"><i class="fa fa-user-friends"></i>People to contact:</div>
      <div class="form-input">
          <input type="text" placeholder="Enter contact persons">
      </div>
  </div>

  <div class="textarea-row">
      <div class="form-label"><i class="fa fa-file-alt"></i>Antecedents:</div>
      <textarea placeholder="Enter antecedents"></textarea>
  </div>

  <div class="button-container">
      <button class="create-button">Create</button>
  </div>
</div>