/* Container to center the card in the middle of the page */
.card-container {
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}


.profile-section {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
.avatar {
  width: 60px;
  height: 60px;
  background-color: #337E92;  
  background-size: cover;
  border-radius: 50%;
  margin-right: 10px;
}
  

.profile-name {
  color: #337E92;
  font-size: 18px;
  font-weight: 500;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 0;
}

.icon {
  background: #337E92;
  color: white;
  border-radius: 50%;
  padding: 6px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  color: #337E92;
  font-weight: 500;
}

.value {
  color: #4D4D4D;
}

.contact-numbers {
  color: #595959;
  margin-left: auto;
  font-size: 12px;
}

.value p {
  color: #595959;
  font-size: 12px;
  margin: 0;
}